<div class="item" fxLayout="row" fxLayoutAlign="start center">
  <img class="image_thumb_list"
       [useSrcset]="true"
       [lazyLoad]="this.image$|async"
       [defaultImage]="'/assets/img/empty-image/empty-image-100.png'"
       [errorImage]="'/assets/img/empty-image/empty-image-100.png'"
       alt="">
  <div  class="description ml20 ">
    <div class="text-sm"><span class="bold ">Ref: </span>{{product.reference}} / {{product.agrupation.pathDescription}}</div>
    <div class="text-xs" fxHide.xs fxFlexAlign="stretch"> {{product.descr}}  </div>
  </div>
  <div fxFlex="auto" class="text-align-right ml5">{{product.price |  currency:'EUR':'symbol-narrow':'0.2-2'}}</div>
  <button
    mat-icon-button
    [matMenuTriggerFor]="menu"
    [matMenuTriggerData]="{ product: product }">
    <mat-icon class="ml5" aria-hidden="false" aria-label="Example home icon">more_vert</mat-icon>
  </button>
</div>


<mat-menu #menu="matMenu">
  <ng-template matMenuContent let-node="node">
    <button
      mat-menu-item
      (click)="editProduct(product)">
      <mat-icon>edit</mat-icon>
      <span>Editar</span>
    </button>
    <button
      mat-menu-item
      (click)="removeProduct(product)">
      <mat-icon>delete</mat-icon>
      <span>Eliminar</span>
    </button>
  </ng-template>
</mat-menu>
