<mat-card  class="pb20">
  <div class="title">Dirección de Envío</div>
  <div *ngIf="(currentAddress$ |async).name !== ''" class="center mb30 w-100 border pt20 pb20">
    <div>
      <div>{{(currentAddress$|async).name}} {{(currentAddress$|async).surname}}</div>
      <div>{{(currentAddress$|async).phone1}} <span *ngIf="(currentAddress$|async).phone2 != null"> / </span>{{(currentAddress$|async).phone2}}
      </div>
      <div>{{(currentAddress$|async).address}}</div>
      <div>{{(currentAddress$|async).CP}} {{(currentAddress$|async).city}}</div>
      <div>{{(currentAddress$|async).country}}</div>
    </div>
  </div>
  <div  class="p10 text-align-center" [hidden]="(currentAddress$ | async)">
    Debe informar alguna dirección de envío en su perfil de usuario.
  </div>
  <div [hidden]="this.showAddresses">
    <div class="mt20">
      <div class="float-right">
        <button *ngIf="(currentAddress$ | async)" mat-raised-button [disabled]="(address$ | async).length == 0" (click)="confirm()" type="submit" color="primary">Confirmar</button>
      </div>
      <div class="float-right mr10">
        <button *ngIf="(currentAddress$ | async)" mat-raised-button [disabled]="(address$ | async).length == 0" (click)="changeAddress()">Cambiar</button>
      </div>
      <div class="float-right mr10">
        <button  mat-raised-button (click)="cancel()" type="reset" color="warn">Cancelar</button>
      </div>
    </div>
  </div>

  <div [hidden]="!this.showAddresses">
    <mat-radio-group
      fxLayout="row wrap"
      fxLayoutAlign="start center"
      class="radio-group"
      (change)="updateSelectedAddress($event)">
      <mat-radio-button fxFlex="100" fxFlex.md="50" fxFlex.lg="33" class="radio-button pb-3"
                        *ngFor="let address of address$|async"
                        [checked]="address.default" [value]="address">
        <div fxLayout="row" fxLayoutAlign="space-between center">
          <div>
            <div>
              {{address.name}} {{address.surname}}
            </div>
            <div>
              {{address.phone1}}  <span *ngIf="address.phone2"> / {{this.address.phone2}}</span>
            </div>
            <div>
              <div>
                {{address.address}}
              </div>
              <div>
                {{address.CP}} {{address.city}}
              </div>
              <div>
                {{address.country}}
              </div>
            </div>
          </div>
        </div>
      </mat-radio-button>
    </mat-radio-group>
    <div class="mt20">
      <div class="float-right">
        <button mat-raised-button *ngIf="(currentAddress$ | async)" (click)="selectAddress()" color="primary">Seleccionar</button>
      </div>
      <div class="float-right mr10">
        <button mat-raised-button *ngIf="(currentAddress$ | async)" (click)="cancelSelectAddress()" type="reset" color="warn">Cancelar</button>
      </div>
    </div>
  </div>
  <div class="clear-both"></div>
</mat-card>

