<!--
<div class="background">
    <div class="container">
    </div>
</div>

-->
<div class="cover">
  <img
    src="../../../../assets/img/cover/cover-photo-5100.jpg"
    srcset="
    ../../../../assets/img/cover/cover-photo-1200.jpg 1200w,
    ../../../../assets/img/cover/cover-photo-800.jpg 800w,
    ../../../../assets/img/cover/cover-photo-600.jpg 600w,
    ../../../../assets/img/cover/cover-photo-400.jpg 400w,
    "
    sizes="100vw"
    alt="">
  <div class="lema f1">Bisutería</div>
  <div class="lema f2">artesanal</div>
</div>
<div
  class="details"
  fxLayout="row"
  fxLayout.lt-sm="row wrap"
  fxLayoutGap="0.0%"
  fxLayoutAlign="center">
  <mat-card class="card" fxFlex="33" fxFlex.lt-sm="100" ngClass.gt-xs="mr16">
    <img
      src="../../../../assets/img/present/present-500.jpg"
      srcset="
      ../../../../assets/img/present/present-500.jpg 500w,
      ../../../../assets/img/present/present-400.jpg 400w,
      ../../../../assets/img/present/present-300.jpg 300w,
      ../../../../assets/img/present/present-200.jpg 200w,
      "
      sizes="(max-width: 600px) calc(100vw - 64px), calc((100vw - 160px)/3)"
      alt="">
    <mat-card-content>
      <h2>Sorprende</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipiscing elit, turpis fringilla non nam enim. Velit
        platea mollis bibendum blandit urna mi, leo dictum id vestibulum ornare, fringilla eu
        ridiculus parturient tincidunt.
      </p>
      <p>Commodo nec nam erat lacus curae mattis primis, mi tortor nisl penatibus nullam dictum.
        Varius ad magnis fusce ridiculus vestibulum lacus semper, consequat ut volutpat euismod
        purus at nisl, augue sociis gravida faucibus pulvinar ullamcorper. </p>
    </mat-card-content>
  </mat-card>
  <mat-card class="card" fxFlex="33" fxFlex.lt-sm="100" ngClass.gt-xs="mr16">
    <img
      src="../../../../assets/img/handmade/handmade-500.jpg"
      srcset="
      ../../../../assets/img/handmade/handmade-500.jpg 500w,
      ../../../../assets/img/handmade/handmade-400.jpg 400w,
      ../../../../assets/img/handmade/handmade-300.jpg 300w,
      ../../../../assets/img/handmade/handmade-200.jpg 200w,
      "
      sizes="(max-width: 600px) calc(100vw - 64px), calc((100vw - 160px)/3)"
      alt="">
    <mat-card-content>
      <h2>Realizado a mano</h2>
      <p>
        Netus hendrerit egestas facilisis blandit, curabitur quam inceptos magna ad, senectus
        ultrices nec. Ut luctus ornare fermentum torquent urna laoreet sollicitudin vulputate orci,
        a vehicula litora accumsan eget vel donec maecenas, enim curabitur penatibus aptent ligula
        posuere montes tristique.
      </p>
      <p>
        Dictum nullam phasellus nascetur facilisi aliquam mi euismod praesent pharetra vel,
        vestibulum morbi id dapibus vitae pretium tempus curae cursus interdum, ut laoreet nisi urna
        egestas cubilia varius bibendum ornare.
      </p>
    </mat-card-content>
  </mat-card>
  <mat-card class="card" fxFlex="33" fxFlex.lt-sm="100">
    <img
      src="../../../../assets/img/cover-product/collar-500.png"
      srcset="
      ../../../../assets/img/cover-product/collar-500.png 500w,
      ../../../../assets/img/cover-product/collar-400.png 400w,
      ../../../../assets/img/cover-product/collar-300.png 300w,
      ../../../../assets/img/cover-product/collar-200.png 200w,
      "
      sizes="(max-width: 600px) calc(100vw - 64px), calc((100vw - 160px)/3)"
      alt="">
    <mat-card-content>
      <h2>Gran variedad</h2>
      <p>
        Auctor sociis tempus aliquet nullam dapibus et mus, iaculis purus in primis eu aptent arcu
        nisl, a sollicitudin class dictum per maecenas. Neque lectus rutrum porttitor eget tempus
        dui torquent aenean ut, ultrices vivamus fermentum dignissim duis eleifend erat pharetra
        morbi, massa ac luctus scelerisque himenaeos posuere mollis dis.
      </p>
      <p>
        Bibendum turpis senectus sollicitudin congue hac litora dapibus, ridiculus ad ullamcorper
        ante nunc platea, placerat massa quam maecenas id nullam.
      </p>
    </mat-card-content>
  </mat-card>

</div>
