mat-card {
  padding-bottom: 40px !important;
}

mat-radio-button {
  position: relative;

}
.actions-button {
  position: absolute;
  right: 24px;
}
.user-card {
  text-align: center;
}

.profile-container {
  display: inline-block;
  text-align: left;
}

.button-modify {
  margin-top: 16px;
  text-align: center;
  width: 100%;
}
