<form
  *ngIf="product$|async"
  [formGroup]="productForm"
  (ngSubmit)="onSave()">
  <div fxLayout="column" fxLayoutGap="8px">

    <div fxFlex="100">
      <mat-form-field floatLabel="always">
        <mat-label>Agrupación</mat-label>
        <input
          (click)="onAgrupation()"
          required
          readonly
          matInput
          type="text"
          formControlName="agrupation">
        <mat-error *ngFor="let validation of validationMessages.agrupation">
          <mat-error class="error-message"
                     *ngIf="reference.hasError(validation.type) && (agrupation.dirty || agrupation.touched)">{{validation.message}}</mat-error>
        </mat-error>
      </mat-form-field>
    </div>

    <div fxFlex="100">
      <mat-form-field floatLabel="always">
        <mat-label>Referencia</mat-label>
        <input
          [readonly]="this.edit"
          required
          matInput
          #refText
          type="text"
          formControlName="reference">
        <mat-hint align="end">{{refText.value.length}} / {{refMaxLength}}</mat-hint>
        <mat-error *ngFor="let validation of validationMessages.reference">
          <mat-error class="error-message"
                     *ngIf="reference.hasError(validation.type) && (reference.dirty || reference.touched)">{{validation.message}}</mat-error>
        </mat-error>
      </mat-form-field>
    </div>

    <div fxFlex="100">
      <mat-form-field floatLabel="always">
        <mat-label>Descripción</mat-label>
        <textarea
          required
          matInput
          #descrText
          type="text"
          rows="4"
          formControlName="descr"></textarea>
        <mat-hint align="end">{{descrText.value.length}} / {{descrMaxLength}}</mat-hint>
        <mat-error *ngFor="let validation of validationMessages.descr">
          <mat-error class="error-message"
                     *ngIf="descr.hasError(validation.type) && (descr.dirty || descr.touched)">{{validation.message}}</mat-error>
        </mat-error>
      </mat-form-field>
    </div>

    <div fxLayout="row" fxLayoutGap="3%">
      <div fxFlex="47">
        <mat-form-field floatLabel="always" class="text-align-right">
          <mat-label>Cantidad</mat-label>
          <input
            required
            matInput
            type="number"
            formControlName="quantity">
          <mat-error *ngFor="let validation of validationMessages.quantity">
            <mat-error class="error-message"
                       *ngIf="quantity.hasError(validation.type) && (quantity.dirty || quantity.touched)">{{validation.message}}</mat-error>
          </mat-error>
        </mat-form-field>
      </div>

      <div fxFlex="50">
        <mat-form-field floatLabel="always" class="text-align-right">
          <mat-label>Precio</mat-label>
          <input
            required
            matInput
            type="number"
            formControlName="price">
          <mat-error *ngFor="let validation of validationMessages.price">
            <mat-error class="error-message"
                       *ngIf="price.hasError(validation.type) && (price.dirty || price.touched)">{{validation.message}}</mat-error>
          </mat-error>
        </mat-form-field>
      </div>
    </div>

    <div fxFlex="100">
      <mat-checkbox
        formControlName="active"
        class="example-margin">Activo</mat-checkbox>
    </div>

  </div>

  <div class="mt20">
    <div class="float-right">
      <button mat-raised-button type="submit" color="primary">Guardar
      </button>
    </div>
    <div class="float-right mr10">
      <button mat-raised-button color="warn" type="reset" (click)="onCancel()">Cancelar</button>
    </div>
  </div>

</form>
