.product-edition-card {
  height: 100px;
  width: 100px;
  padding: 8px;
}

.product {
  height: 100px;
}

.clear {
  clear: both;
}

.fabicon {
  position: absolute;
  bottom: 20px;
  right: 20px;
}

.muted {
  background-color: #f5f5f5;
}

.viewer {
  height: calc(100% - 44px - 16px) !important;
  }

.title {
  margin-bottom: 16px !important;
}




