<div fxLayout="column"
     fxFlex="100"
     fxLayoutGap="0.0%"
     fxLayoutAlign="center">

  <mat-card class="expand">

    <div
      class="text-align-center"
      fxFlex="100">
      <mat-card-title class="title">Gestión Productos</mat-card-title>

      <div class="expand" *ngIf="(products$ | async).length === 0" fxLayoutAlign="center center">
        Seleccione algún elemento del catálogo
      </div>

      <div class="viewer" *ngIf="(products$ | async).length !== 0">

        <cdk-virtual-scroll-viewport #viewer class="expand" [itemSize]="100"
                                     (scrolledIndexChange)="checkBatch()">
          <div *cdkVirtualFor="let product of products$ |async; let i = index; trackBy: trackByIdx">
            <mat-card class="product-edition-card mb5" [ngClass]="{'muted': !product.active}"
                      fxFlex="100">
              <anms-product-item
                [product]="product"
                (editEmitter)="editProduct($event)"
                (removeEmitter)="removeProduct($event)"></anms-product-item>
              <div class="clear"></div>
            </mat-card>
          </div>
        </cdk-virtual-scroll-viewport>

      </div>

      <button mat-fab
              color="primary"
              class="fabicon"
              (click)="newProduct()">
        <mat-icon>add</mat-icon>
      </button>

    </div>
  </mat-card>
</div>
