
mat-grid-tile {
  background-color: white;
}

::-webkit-scrollbar {
  display: none;
}

virtual-scroller {

  height: calc(100% );
  width: 100%;

}

.scroll {
  height: calc(100vh - 56px - 32px - 105px);
  width: 100%;
}

.item {
  display: inline-block;
  overflow: hidden;
  vertical-align: top;
  border: 0px;
  margin: 0px;
  width: calc(100%);
}

@media only screen and (min-width: 600px) {
  .scroll {
    height: calc(100vh - 64px - 32px - 105px);
  }
  .item {
    width: calc(100% / 4);
  }
}

@media only screen and (min-width: 960px) {
  .item {
    width: calc(100% / 4);
  }
}
@media only screen and (min-width: 1280px) {
  .item {
    width: calc(100% / 6);
  }
}

.jj {
  border: 1px solid red;
}

