.w-100 {
  width: 100% !important;
}

button {
  margin-left: 12px !important;
  margin-right: 12px !important;
}

mat-dialog-content {
  margin: 0 !important;
  padding: 16px !important;
}
.register {
  font-size: 0.9em;
  margin-top: 40px;
  margin-left: 12px !important;
  margin-right: 12px !important;
  float: right;
}

.login_container {
  padding: 16px;
}
