<div class="password_container">
  <form  [formGroup]="passwordForm"
         (ngSubmit)="onChange()">

    <mat-dialog-content>
      <div fxLayout="column" fxLayoutGap="10px"
           formGroupName="passwordGroup">
        <div fxFlex="100">
          <mat-form-field floatLabel="always">
            <mat-label>Nueva Contraseña</mat-label>
            <input
              matInput
              required
              formControlName="newpassword">
            <mat-error *ngFor="let validation of validationMessages.newpassword">
              <mat-error class="error-message"
                         *ngIf="newpassword.hasError(validation.type) && (newpassword.dirty || newpassword.touched)">{{validation.message}}</mat-error>
            </mat-error>
          </mat-form-field>
        </div>
        <div fxFlex="100">
          <mat-form-field floatLabel="always">
            <mat-label>Confirmar Nueva Contraseña</mat-label>
            <input
              matInput
              required
              formControlName="newrepassword">
            <mat-error
              *ngFor="let validation of validationMessages.newrepassword">
              <mat-error class="error-message"
                         *ngIf="newrepassword.hasError(validation.type) && (newrepassword.dirty || newrepassword.touched)">{{validation.message}}</mat-error>
            </mat-error>
          </mat-form-field>
        </div>
      </div>

    </mat-dialog-content>

    <div class="mt-10">
      <div class="form-buttons">
        <button
          mat-raised-button
          color="warn"
          type="reset"
          class="form-buttons__button"
          (click)="onCancel()">Cancelar</button>
        <button mat-raised-button type="submit" color="primary" class="form-buttons__button">Guardar</button>
      </div>
      <div class="clear-both"></div>

    </div>
  </form>
</div>


