img {
  object-fit: cover;
  border-radius: 6px;
  width: 100%;
}

.item-container {
  border-bottom: 1px solid darkgray;
  padding: 8px 0;
  margin: 8px 0;
}

.total-container {
  background-color: darkgray;
  width: 100%;
  height: 40px;
  padding: 6px;
}
