<div class="expand" fxLayout="row" fxLayoutWrap
     fxLayoutGap="0.5%" fxLayoutAlign="center">
  <mat-card fxFlex="50" fxFlex.lt-md="100" fxFlex.sm="80" flexFlex.md="70">
    <mat-card-title class="title">Cesta</mat-card-title>
    <div
      fxLayout="row"
      fxLayoutWrap
      fxLayoutAlign="start center"
      fxLayoutGap="1%"
      class="item-container"
      *ngFor="let item of cart$| async">
      <div fxFlex="10">
        <img
          [lazyLoad]="item.product.mainImage.urls.imgSM"
          [defaultImage]="'/assets/img/empty-image/empty-image-100.png'"
          [errorImage]="'/assets/img/empty-image/empty-image-100.png'"
          alt="">
      </div>
      <div
        fxFlex="40"
        fxLayout="column"
        fxLayoutWrap
        fxLayoutGap="0.5%">
        <div class="text-sm">
          <span class="bold">Ref: </span>{{item.product.reference}}
        </div>
        <div class="text-xs">{{item.product.descr}}</div>
      </div>
      <div  fxFlex="40"
            class="text-sm"
            fxLayout="row"
            fxLayoutWrap
            fxLayoutAlign="start end"
            fxLayoutGap="0.5%">
        <div
            fxFlex="60">
          <mat-form-field class="text-align-right" appearance="standard" floatLabel="always" align="end">
            <mat-label>Cantidad</mat-label>
            <input matInput #quantity type="number" class="text-align-right"
                   value="{{item.quantity}}">
            <button
              mat-button
              matSuffix
              mat-icon-button
              color="primary"
              (click)="updateCart(quantity.value, item)">
              <mat-icon>update</mat-icon>
            </button>
          </mat-form-field>
        </div>
        <mat-form-field class="text-align-right" fxFlex="35" appearance="standard" floatLabel="always" align="end">
          <mat-label>Precio Unit.</mat-label>
          <input matInput type="number" readonly
                 value="{{item.product.price}}">
        </mat-form-field>

        <button
          mat-icon-button
          color="warn"
          (click)="onRemoveCart(item)">
          <mat-icon>close</mat-icon>
        </button>
      </div>
    </div>

    <div
      fxLayout="row"
      fxLayoutWrap
      fxLayoutAlign="start center"
      fxLayoutGap="1%"
      class="total-container">
      <div
        fxFlex="65"
        class="bold">
        Precios con IVA incluido
      </div>
      <div
        fxFlex="35"
        class="bold">
        Total Compra
      </div>
      <div>{{totalImport |async}}</div>
    </div>
    <button mat-raised-button color="primary" class="text-align-center w-100 mt15">Comenzar Pedido
    </button>

  </mat-card>
</div>
