<mat-card class="example-card">
  <div class="aspect-ratio-box">
    <div class="aspect-ratio-box-inside">
      <img class="image_thumb_list"
           (click)="openImageViewer()"
           [useSrcset]="true"
           [srcset]="this.srcSet"
           [sizes]="this.sizes"
           [lazyLoad]="this.image$|async"
           [defaultImage]="'/assets/img/empty-image/empty-image.jpg'"
           [errorImage]="'/assets/img/empty-image/empty-image.jpg'"
           alt="">
    </div>
  </div>
  <mat-card-actions class="info">
    <div class="main-info">
      <div class="favorite">
        {{product.likes ?  product.likes : 0}}
        <button class="ml5" type="button" disabled="{{this.favoriteClick}}" class="favorite" mat-icon-button (click)="favorite(product)">
          <mat-icon class="icon_favorite">favorite</mat-icon>
        </button>
      </div>


      <div class="price">{{product.price}}€</div>
    </div>

    <button
      class="buy"
      mat-raised-button
      color="accent"
      (click)="addToCart()">
      Comprar
    </button>
  </mat-card-actions>
</mat-card>

