.order-container {
  height:120px;
}

.order-background {
  background: lightgray;
}

.order {
  width: 100%;
  text-align: left;
  border-radius: 4px;
  padding: 12px 12px;
}

.order-details {
  text-align: left;
  padding: 12px 12px;
}

button.more {
  height: 20px !important;
  width: 20px !important;
}

mat-icon.more {
  transform: scale(0.5);
}

.pending {
  color: red;
}

.pending {

  animation-name: parpadeo;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes parpadeo {
  0% { opacity: 1.0; }
  50% { opacity: 0.0; }
  100% { opacity: 1.0; }
}

@media screen and (min-width: 500px) {
  .order-container {
    height: 150px;
  }
  button.more {
    height: 40px !important;
    width: 40px !important;
  }

  mat-icon.more {
    transform: scale(1);
  }
}

@media screen and (min-width: 960px) {
  .order-container {
    height: 90px;
  }
}
