<div class="expand" fxLayout="row" fxLayoutWrap
     fxLayoutGap="0%" fxLayoutAlign="center">

  <anms-agrupations
    fxFlex="30"
    fxHide.lt-md
    [currentSelected]="currentSelectedAgrup"
    (selectedAgrupEvent)="onSelectAgrup($event)"></anms-agrupations>

  <div [ngClass.gt-sm]="'ml16'"
       [ngClass.lt-md]= "'expand ml0'"
       fxFlex.sm="100" fxFlex-xs="100" fxFlex="70"  fxLayout="row" fxLayoutWrap
       fxLayoutGap="0.0%" fxLayoutAlign="start">

    <mat-card>
      <mat-card-title class="title">Edición Producto</mat-card-title>
      <anms-product-form [product$]="product$"
                         [selectedAgrup$]="selectedAgrup$"
                         (agrupationEvent)="onAgrupations()"
                         (getImagesEvent)="getImages($event)"
                         (saveProductEvent)="saveProduct($event)"
                         (cancelProductEvent)="cancelProduct()"></anms-product-form>


      <div class="images clear" fxLayout="row wrap"
           fxLayoutGap="0.0%" fxLayoutAlign="start start">
            <anms-image-form
              *ngFor="let image of this.images$ |async; index as i"
              [image]="image"
              [id]="i"
              (eventRemoveComponent)="onRemoveComponent($event)"
              (eventNewImage)="onAddImage($event)"
              (eventIsMain)="onIsMain()"
              (eventRemoveImage)="onRemoveImage($event)">
            </anms-image-form>
          <ng-template appPhotoHost>
          </ng-template>

      </div>

    </mat-card>

  </div>
</div>
